.wrapper {
  width: 100%;
  display: flex;
}

.left {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

.subtitle {
  /* margin: 0; */
  /* line-height: 1.25; */
  /* letter-spacing: -0.01em; */
  /* font-weight: 420; */
  font-weight: var(--fw-body);
  font-size: var(--fs-h3);
  visibility: hidden;
}

.noAnimation {
  visibility: visible;
}
