.wrapper {
  width: 100%;
  display: flex;
}

.left {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

.subtitle {
  /* margin: 0; */
  /* letter-spacing: -0.01em; */
  /* font-weight: 420; */
  visibility: hidden;
  /* max-width: 40ch; */
  font-size: var(--fs-h4);

}

.subtitle :global(.line) {
  font-weight: var(--fw-body);
  color: var(--primary-light-muted);
  line-height: 10rem !important;
  text-box-edge: cap alphabetical;
  text-box-trim: trim-both;
  margin-bottom: var(--space-s);
}


.noAnimation {
  visibility: visible;
}
